target/
data/
music/

# sonar-cli
/sonar-cli/storage
/sonar-cli/spotify-music
/sonar-cli/beets-music
/sonar-cli/t
# subsonic api xml file
/sonar-cli/*.xsd
# beets config
/sonar-cli/*.yaml

/serve.go

# misc
*.db
*.db-wal
*.db-shm
*.png
*.jpg
*.jpeg
*.mp3
.envrc
